@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import './base.css';
@import "tailwindcss";


* {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
}

html {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}


#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

html {
  font-size: 16px; /* Base: telas médias (ex: 768px) */
}

@media (max-width: 480px) {
  html {
    font-size: 14px; /* Telas pequenas: celular */
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 17px; /* Telas grandes: notebook */
  }
}

@media (min-width: 1440px) {
  html {
    font-size: 18px; /* Telas muito grandes: desktop grande */
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 19px; /* Telas ultra-wide */
  }
}

